.navbar{
  background-color: #e6e6e6;
}
img{
  width: 100px;
  height: 100px;
} 
body{
  background-color: white;
}
.group{
    width: 100%;
    background-color: #e6e6e6;
    color: black;
    margin-bottom: 10px;
    text-align:center;
    padding-bottom: 5px;
    border-radius: 15px 0px 0px 50px;
}
.logos{
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
    height: 90px;
    width: 90px;
}
.mini_picture{
  border-radius: 50px;
  margin: 10px 10px 10px 10px;
  height: 70px;
  width: 70px;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.mini_picture:hover{
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  opacity: 0.6;
}
#login_box{
  /*border-radius: 15px;
  border-color: #B8B8B8;
  border-style: solid;*/
  background-color: #f2f2f2;
  text-align: center;
  padding: 30px;
}
h1{
  margin-bottom: 20px;
}
footer{
  margin-bottom: 10px;
  margin-top: 10px;
}
.box{
  /*border-radius: 15px;
  border-style: solid;
  border-color: #B8B8B8;*/
  background-color: #f2f2f2;
  text-align: center;
  padding: 30px;
}
/*.box{
  border-radius: 15px;
  text-align: center;
  border-style: solid;
  border-color: #B8B8B8;
  padding: 30px;
}*/
#box_profile{
  /*border-radius: 15px;
  border-style: solid;
  border-color: #B8B8B8;*/
  background-color: #f2f2f2;
  text-align: left;
  padding: 30px;
}
#box_group{
/*  border-radius: 15px;
  border-style: solid;
  border-color: #B8B8B8;*/
  background-color: #f2f2f2;
  text-align: left;
  padding: 25px;
  margin-bottom: 15px;
}
#mini_box_group{
  border-radius: 15px;
  border-style: solid;
  border-color: #B8B8B8;
  padding: 30px;
  margin-bottom: 10px;
}
#profile_picture{
  width: 100%;
  height: 100%;
}
table{
  width: 100%;
}
th{
  text-align: center;
  background-color: #99c2ff;
}
li{
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
li:hover{
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  background-color: #cccccc;
}
#register{
  background-color: #ffaa80;
}
#register:hover{
  background-color: #ff751a;
}
#my_profile{
  background-color:  #99c2ff;
}
#my_profile:hover{
  background-color:  #668cff;
}
#logout:hover{
  background-color:  #ff4d4d;
}
#groups:hover{
  background-color:  #ffff80;
}
#new:hover{
  background-color:  #99ffbb;
}
#access{
  background-color:  #53c653;
  color: white;
}
#access:hover{
  background-color:  #339933;
}
/*input[type="text"], textarea{
  background-color: #f2f2f2;
}*/
#red{
  color: white;
  background-color: #ff4d4d;
}
#red:hover{
  background-color: #ff1a1a;
}
#orange{
  color: white;
  background-color: #ff934d;
}
#orange:hover{ 
  background-color: #e65b00;
}
#alert{
  text-align: center;
  background-color: #ffbf80;
}
#facebook{
  background-color: #3b5998;
  color: white;
  font-weight: bold;
}
#facebook:hover{
  background-color: #8b9dc3;
}
#group_header{
  background-color: #cccccc;
  border-radius: 15px 0px 0px 15px;
}