<div class="row">
  <h1 class="text-center">
    User Profile
  </h1> 
</div> 
<div class="row">
  <div class="col-md-1">
    
  </div> 
  <div class="col-md-10" id="box_profile">
    <div class="row">
      <div class="col-md-2 text-center">
        <img src="{{user.imageUrl}}" id="profile_picture">
        <h4>{{user.username}}</h4>
        <a ng-href="/users/{{user._id}}/edit" ng-show="currentUser.username === user.username" class="btn btn-default btn-block" id="orange"> <span class="glyphicon glyphicon-pencil"></span> Edit</a> <br>
        <button class="btn btn-default btn-block" ng-click="removeUser(user)" ng-show="currentUser.username === user.username" id="red"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      </div> 
      <div class="col-md-10">
        <dl class="dl-horizontal">
          <dt>First Name:</dt>
          <dd>{{user.firstname}}</dd>
          <dt>Last Name:</dt>
          <dd>{{user.lastname}}</dd>
          <dt>About Me:</dt>
          <dd>{{user.description}}</dd>
          <dt>Type of Account::</dt>
          <dd>{{user.type}}</dd>
          <dt>Email:</dt>
          <dd>{{user.email}}</dd>
          <dt>Website:</dt>
          <dd><a ng-href="{{user.personalweb}}" target="_blank">{{user.personalweb}}</a></dd>
          <dt>Twitter:</dt>
          <dd>@{{user.twitter}}</dd>
          <dt>Phone Number:</dt>
          <dd>{{user.phone}}</dd>
        </dl>
        <h3>Groups</h3>
        <div ng-repeat="group in user.groups" class="row">
          <div class="col-md-2">
            <img ng-src="{{group.imageUrl}}"><br><br>
          </div>
          <div class="col-md-10">
            <p>{{group.name}}</p>
            <a class="btn btn-default" id="orange" href="/groups/{{group._id}}">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    
  </div>
</div>