<div class="row">
  <h1 class="text-center">
    <span ng-show="currentUser.id === user._id">Your profile</span>
    <span ng-show="currentUser.id != user._id">{{user.username}} profile </span>
  </h1> 
</div> 
<div class="row">
  <div class="col-md-1">
    
  </div> 
  <div class="col-md-10" id="box_profile">
    <div class="row">
      <div class="col-md-2 text-center">
        <img src="{{user.imageUrl}}" id="profile_picture">
        <h5><span class="fa fa-user"></span> {{user.username}}</h5>
        <a ng-href="/users/{{user._id}}/edit" ng-show="currentUser.id === user._id" class="btn btn-default btn-block" id="orange"> <span class="glyphicon glyphicon-pencil"></span> Edit</a> <br>
        <button class="btn btn-default btn-block" ng-click="removeUser(user)" ng-show="currentUser.id === user._id" id="red"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      </div> 
      <div class="col-md-10">
        <dl class="dl-horizontal">
          <dt>Name:</dt><dd>{{user.firstname}} {{user.lastname}}</dd>
          <dt>About Me:</dt><dd>{{user.description}}</dd>
          <dt>Role:</dt><dd>{{user.type}}</dd>
          <dt><span class="glyphicon glyphicon-envelope"></span> Email:</dt><dd><a href="mailto:{{user.email}}?" target="_blank">{{user.email}}</a></dd>
          <dt><span class="glyphicon glyphicon-globe"></span> Website:</dt><dd><a ng-href="{{user.personalweb}}" target="_blank">{{user.personalweb}}</a></dd>
          <dt><span class="fa fa-twitter"></span> Twitter:</dt><dd><a href="https://twitter.com/{{user.twitter}}" target="_blank">@{{user.twitter}}</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span> Phone Number:</dt><dd>{{user.phone}}</dd>
        </dl>
        <div id="groups_header" class="text-center">
          <h3 id="title"><span class="fa fa-users"></span> Groups</h3>
        </div> 
        <div ng-repeat="group in user.groups" class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <img ng-src="{{group.imageUrl}}" id="mini_group"><br><br>
          </div>
          <div class="col-md-9">
            <div class="row" id="group_detail">
              <div class="col-md-5">
                <strong>Name:</strong> {{group.name}} <br>
                <strong>Type:</strong> {{group.type}}
              </div>
              <div class="col-md-5">
                <strong>Starts:</strong> {{group.startDate}} <br>
                <strong>Ends:</strong> {{group.endDate}}
              </div>
              <div class="col-md-2">
                <a class="btn btn-default" id="orange" href="/groups/{{group._id}}">More Info <span class="fa fa-info"></span></a>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    
  </div>
</div>