<div class="row">
  <h1 class="text-center">
    Group 
  </h1> 
</div>
<div class="row">
  <div class="col-md-1">
    
  </div> 
  <div class="col-md-10" id="box_group">
    <div class="row">
      <div class="col-md-2 text-center">
        <img src="{{res.group.imageUrl}}" id="group_picture"> <br>
        <strong>Stars: </strong>{{res.group.startDate}} <br>
        <strong>Ends: </strong>{{res.group.endDate}} <br>
        <div ng-show="currentUser.id === res.group.owner._id">
          <button class="btn btn-default btn-block" id="access" ng-click="hwdisplay=!hwdisplay" ng-show="currentUser"><span class="glyphicon glyphicon-plus"></span> Homework <span class="fa fa-paperclip"></span></button>
          
          <button class="btn btn-default btn-block" id="access" ng-click="notedisplay=!notedisplay" ng-show="currentUser"><span class="glyphicon glyphicon-plus"></span> Note <span class="glyphicon glyphicon-bullhorn"></span></button>

          <button class="btn btn-default btn-block" id="access" ng-click="pjdisplay=!pjdisplay" ng-show="currentUser"><span class="glyphicon glyphicon-plus"></span> Project <span class="fa fa-bar-chart"></span></button>
        </div>
      </div>
      <div class="col-md-8">
        <h3 class="text-center">{{res.group.type}}: {{res.group.name}}</h3>
        <p>{{res.group.description}}</p>
        <strong>Address:</strong> {{res.group.address}}
        <strong>Location Details:</strong> {{res.group.locationDetails}} <br>
        <strong>Rules:</strong> {{res.group.rules}}
      </div> 
      <div class="col-md-2 text-center">
        <img src="{{res.group.owner.imageUrl}}" id="profile_picture">
        <h5><span class="fa fa-user"></span> {{res.group.owner.username}}</h5>
        <div ng-show="currentUser.id === res.group.owner._id">
          <a ng-href="/groups/{{res.group._id}}/edit" class="btn btn-default btn-block" id="orange"><span class="glyphicon glyphicon-pencil"></span> Edit Group</a>
          
          <button class="btn btn-default btn-block" id="red" ng-click="deleteGroup(res.group)"><span class="glyphicon glyphicon-trash"></span> Delete Group</button>

          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-show="hwdisplay">
          <form name="hwForm" ng-submit="createHomework(homework)" novalidate class="form-group form-horizontal"> 
            <div class="form-group" ng-class="{ 'has-error' : hwForm.content.$invalid && !hwForm.content.$pristine || hwForm.content.$invalid && hwForm.content.$touched,'has-success' : hwForm.content.$valid }">
              <label class="col-sm-2 control-label" for="content">New Homework:</label>
                <div class="col-sm-10">
                  <textarea name="content" rows="3" class="form-control" ng-model="homework.content" ng-required="true" id="content" placeholder="What's the new homework?" autofocus></textarea>
                </div>
                <div class="help-block" ng-messages="hwForm.content.$error" ng-if="!hwForm.content.$pristine || hwForm.content.$touched">
                  <p ng-message="required" class="text-center">The content of the homework is required.</p>
                </div>
            </div>
            <span ng-show="false" ng-value="homework.group_id=res.group._id"></span>
            <div class="text-center">
            <button type="submit" class="btn btn-default" id="access" ng-disabled="hwForm.$invalid"><span class="glyphicon glyphicon-ok"></span class="glyphicon glyphicon-ok">Add</button>
            
            </div>
          </form>
      </div>

      <div ng-show="notedisplay">
          <form name="noteForm" ng-submit="createNote(note)" novalidate class="form-group form-horizontal"> 
            <div class="form-group" ng-class="{ 'has-error' : noteForm.content.$invalid && !noteForm.content.$pristine || noteForm.content.$invalid && noteForm.content.$touched,'has-success' : noteForm.content.$valid }">
              <label class="col-sm-2 control-label" for="content">New Note:</label>
                <div class="col-sm-10">
                  <textarea name="content" rows="3" class="form-control" ng-model="note.content" ng-required="true" id="content" placeholder="What's the new note?" autofocus></textarea>
                </div>
                <div class="help-block" ng-messages="noteForm.content.$error" ng-if="!noteForm.content.$pristine || noteForm.content.$touched">
                  <p ng-message="required" class="text-center">The content of the note is required.</p>
                </div>
            </div>
            <span ng-show="false" ng-value="note.group_id=res.group._id"></span>
            <div class="text-center">
            <button type="submit" class="btn btn-default" id="access" ng-disabled="noteForm.$invalid"><span class="glyphicon glyphicon-ok"></span class="glyphicon glyphicon-ok">Add</button>
            
            </div>
          </form>
      </div>

      <div ng-show="pjdisplay">
          <form name="projectForm" ng-submit="createProject(project)" novalidate class="form-group form-horizontal"> 
            <div class="form-group" ng-class="{ 'has-error' : projectForm.content.$invalid && !projectForm.content.$pristine || projectForm.content.$invalid && projectForm.content.$touched,'has-success' : projectForm.content.$valid }">
              <label class="col-sm-2 control-label" for="content">New Project:</label>
                <div class="col-sm-10">
                  <textarea name="content" rows="3" class="form-control" ng-model="project.content" ng-required="true" id="content" placeholder="What's the new project?" autofocus></textarea>
                </div>
                <div class="help-block" ng-messages="projectForm.content.$error" ng-if="!projectForm.content.$pristine || projectForm.content.$touched">
                  <p ng-message="required" class="text-center">The content of the project is required.</p>
                </div>
            </div>
            <span ng-show="false" ng-value="project.group_id=res.group._id"></span>
            <div class="text-center">
            <button type="submit" class="btn btn-default" id="access" ng-disabled="projectForm.$invalid"><span class="glyphicon glyphicon-ok"></span class="glyphicon glyphicon-ok">Add</button>
            
            </div>
          </form>
      </div>

      <div ng-show="pjdisplay">
        Project
      </div>

      <div ng-show="notedisplay">
        Note
      </div>
      <div class="row">
        <div class="col-md-4">
          <table>
            <tr>
              <th><h5><span class="fa fa-book"></span> Homeworks</h5></th>
            </tr>
            <tr ng-repeat="homework in res.homeworks">
              <td>
                <span class="fa fa-paperclip"> {{homework.content}}
                <button class="btn btn-default btn-xs" id="red" ng-click="deleteHomework(homework)" ng-show="currentUser.id === res.group.owner._id"><span class="glyphicon glyphicon-remove"></span></button></span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table>
            <tr>
              <th><h5><span class="glyphicon glyphicon-bullhorn"></span> Notes</h5></th>
            </tr>
            <tr ng-repeat="note in res.notes">
              <td>
                <span class="fa fa-bolt"> {{note.content}}
                <button class="btn btn-default btn-xs" id="red" ng-click="deleteNote(note)" ng-show="currentUser.id === res.group.owner._id"><span class="glyphicon glyphicon-remove"></span></button></span>
              </td>
            </tr>
          </table>  
        </div>
        <div class="col-md-4">
          <table>
            <tr>
              <th><h5><span class="fa fa-bar-chart"></span> Projects</h5></th>
            </tr>
            <tr ng-repeat="project in res.projects">
              <td>
                <span class="fa fa-flag"> {{project.content}}
                <button class="btn btn-default btn-xs" id="red" ng-click="deleteProject(project)" ng-show="currentUser.id === res.group.owner._id"><span class="glyphicon glyphicon-remove"></span></button></span>
              </td>
            </tr>
          </table>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    
  </div>
  <div class="col-md-10" id="box_group">
    <h2 class="text-center"><span class="fa fa-comments-o"></span> Classroom Board</h2>

    <div class="row">
      <div class="col-md-12">
          <dl class="dl-horizontal">
            <span ng-repeat="comment in res.comments">
              <dt>
                <a ng-href="/users/{{comment.user._id}}">{{comment.user.username}} </a><span class="fa fa-comment"></span>
              </dt>
              <dd>
              {{comment.content}}
              <button class="btn btn-default btn-xs" id="red" ng-click="deleteComment(comment)" ng-show="currentUser.id === comment.user._id"><span class="glyphicon glyphicon-remove"></span></button>
              </dd>
            </span>
          </dl>
      </div>
    </div>

    <button class="btn btn-default" id="access" ng-click="display=!display" ng-show="currentUser && !display"><span class="glyphicon glyphicon-plus"></span> New Comment <span class="fa fa-comment-o"></span></button>
    <a class="btn btn-default pull-left" ng-click="display=!display" id="orange" ng-show="currentUser && display"><span class="glyphicon glyphicon-menu-left"></span>Cancel</a>
    <div class="panel-body" ng-show="display">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <form name="commentForm" ng-submit="createComment(comment)" novalidate class="form-horizontal">
              <div class="form-group" ng-class="{ 'has-error' : commentForm.content.$invalid && !commentForm.content.$pristine || commentForm.content.$invalid && commentForm.content.$touched,'has-success' : commentForm.content.$valid }">
                <label class="col-sm-2 control-label" for="content">New Comment:</label>
                  <div class="col-sm-10">
                    <textarea name="content" rows="3" class="form-control" ng-model="comment.content" ng-required="true" id="content" placeholder="What's the new comment?" autofocus></textarea>
                  </div>
                  <div class="help-block" ng-messages="commentForm.content.$error" ng-if="!commentForm.content.$pristine || commentForm.content.$touched">
                    <p ng-message="required" class="text-center">The content of the comment is required.</p>
                  </div>
              </div>
              <span ng-show="false" ng-value="comment.group_id=res.group._id"></span>
              <div class="text-center">
              <button type="submit" class="btn btn-default" id="access" ng-disabled="commentForm.$invalid"><span class="glyphicon glyphicon-ok"></span class="glyphicon glyphicon-ok">Add</button>
              
              </div>
            </form>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    
  </div>
</div>